---
order: 3
title: About
---
<h1>How God began M.M.M</h1>
<p>
  As a result of a fire which destroyed Mark and Bambie Getz&rsquo;s home, their
  family moved from Hartford, MI to Millburg in 2001. It was then that God made
  Bambie aware of the hundreds of Mexican families who lived on farms and worked
  the fields. Being especially burdened for the children, she called her sister,
  Sophia, in Kentucky and begged her to come start something for the Mexican
  children. In June of 2002 Sophia arrived and volunteered at a Head Start
  school for Migrant children. Because of interacting with the little students
  and their parents she established a good friendship with the families. As she
  rode the buses she learned the locations of the farm labor camps. In 2004 God
  led Sophia to begin having Bible Clubs in the migrant camps. Many children
  have accepted Christ and are now being discipled by continued weekly Bible
  studies and other activities.
</p>

<h1>The ministry</h1>

<h2>Weekly Bible classes</h2>
<p>
  Since 2002, 46 farms (migrant camps) have been reached with the Gospel.
  Fourteen or more of those farms are visited weekly to offer a Bible lesson for
  the children, along with songs, verses and a craft.
</p>

<h2>5 day clubs</h2>
<p>
  One effective method of sharing truth with the kids is going to the same farm
  five days in a row to teach Bible lessons, using a format similar to Chilid
  Evangelism Fellowship.
</p>

<h2>Day camp</h2>
<p>
  In August of 2007 we hosted our first Day Camp (ages five through High
  School). Every year God expands our outreach and in 2016, close to 400
  children registered. Over the years kids from seven school districts have been
  involved. If we did not offer transportation, they would not be able to come.
  As a result, our bus routes are composed of vans, cars, shuttle and school
  buses in order to accommodate everyone who needs a ride. On Fridays we invite
  the parents to come hear their kids&rsquo; program and enjoy a Mexican dinner
  together. The Gospel is clearly given in Spanish and English during a <q>chalk
  talk</q> message at the end of the night. Without the many who volunteer to
  help, it would be impossible.
</p>

<h2>Despedida&mdash;<i><q>going away</q></i></h2>
<p>
  In October of each year we have a party for the Migrant families who by that
  time are preparing to leave Michigan. This event is well attended by the
  parents and they have as much fun as their children! After a special dinner,
  hayride, campfire and other activities we give the Gospel by way of a chalk
  art picture and message. Each family receives a small gift bag in which tracts
  and a Bible are included.
</p>

<h1 id="statement-of-faith">
  Statement of faith
</h1>
<h2>We believe...</h2>
<p>
  That <q>All Scripture is given by inspiration of God,</q> by which we
  understand that the whole book called The Bible to be inerrant in the original
  writing; that its teaching is absolute and that the Holy Spirit guided the
  chosen holy men of God in all that they wrote. {% include verse.html verse="2
  Peter 1:21; 2 Timothy 3:16" %}
</p>
<p>
  The Godhead eternally exists in three Persons: God the Father, God the Son and
  God the Holy Spirit. These three are One and possess the same attributes,
  perfection and nature. {% include verse.html verse="Matthew 28:19; John 17:5;
  Genesis 1:1, 1:3; I John 5:7" %}
</p>
<p>
  In the Deity of the Lord Jesus Christ who was begotten by the Holy Spirit and
  born of the virgin Mary; that Jesus Christ was fully man yet remained and
  still remains fully God. {% include verse.html verse="Colossians 1:14-17;
  John 1:1, 14, 10:30; Matthew 1:20" %}
</p>
<p>
  In the Personality and Deity of the Holy Spirit who indwells every true
  believer; who convicts of sin, comforts and makes intercession for the saints.
  {% include verse.html verse="Acts 5:3-4; John 16:7-8, 13; Romans 8:26" %}
</p>
<p>
  That man was created in the image of God, after His likeness, but that the
  whole human race fell in the sin of Adam and was brought under eternal
  condemnation and judgment; that man can in no way obtain forgiveness and
  salvation through any work of his own. {% include verse.html verse="Genesis
  1:26-27; Romans 5:12, 3:10, 3:23; Titus 3:5" %}
</p>
<p>
  That Jesus Christ became the sinner&rsquo;s only substitute before God and
  died as a propitiatory sacrifice for the sins of the whole world; that
  salvation comes through no other than Jesus Christ. {% include verse.html
  verse="I John 2:2; 2 Corinthians 5:21; I Peter 2:24; Acts 5:12" %}
</p>
<p>
  In the resurrection of the crucified body of Jesus Christ, that His body was
  raised from the dead and that He ascended into Heaven and sitteth on the right
  hand of God as the believer&rsquo;s High Priest and Advocate. {% include
  verse.html verse="Mark 16:19; Luke 24:39; Acts 1:10-11; Hebrews 1:3" %}
</p>
<p>
  In the personal and bodily return of our Lord and Saviour Jesus Christ.
  {% include verse.html verse="Acts 1:11; I Thessalonians 4:16-17" %}
</p>
<p>
  That the souls of the those who have trusted in the Lord Jesus Christ for
  salvation do at death immediately pass into God&rsquo;s presence and there
  remain in conscious bliss until the resurrection of the body at His coming,
  when soul and body reunited shall be with Him forever in glory. {% include
  verse.html verse="I Corinthians 15:52-53; I Thessalonians 4:15-18; Luke 16:22,
  25; Philippians 1:23; 2 Corinthians 5:8" %}
</p>
<p>
  That the souls of the lost remain after death in misery until the final
  judgment of the great white throne when soul and body reunited at the
  resurrection shall be cast <q>into the lake of fire</q> which is <q>the second
  death</q> to <q>be punished with everlasting destruction from the presence of
  the Lord, and from the glory of His power</q> {% include verse.html
  verse="2 Thessalonians 1:8-9; Revelation 20:5, 11-15; Hebrews 9:27" %}
</p>
<p>
  In the reality and personality of Satan, <q>that old serpent, called the
  devil, and Satan, which deceiveth the whole world</q>. {% include verse.html
  verse="Revelation 12:9, 20:10; I Peter 5:8" %}
</p>
<p>
  We believe the Bible&rsquo;s clear teaching that marriage is only between one
  man and one woman. <q>Therefore shall a man leave his father and mother and
  cleave unto his wife: and they shall be one flesh</q> and <q>Thou shalt not
  lie with mankind, as with womankind: it is abomination</q>. {% include
  verse.html verse="Genesis 2:24; Leviticus 18:22" %}
</p>