---
order: 5
title: Photos
---
<style>
  img {
    object-fit: cover;
  }
  @media (orientation: landscape) {
    img {
      height: 12vw;
      margin: 1vw;
    }
  }
  @media (orientation: portrait) {
    img {
      height: 12vh;
      margin: 1vh;
    }
  }
</style>
<div class="d-flex flex-row flex-wrap justify-content-center" style="margin: -1vh;">
  {% for photo in site.static_files %}
  {% if photo.path contains "/assets/photos" %}
  <img src="{{ photo.path }}">
  {% endif %}
  {% endfor %}
</div>