<footer class="font-italic" style="font-size: 0.8em;">
  <p>
    Gather the people together, men, and women, and children, and thy stranger
    that is within thy gates, that they may hear, and that they may learn, and
    fear the LORD your God, and observe to do all the words of this law: and
    that their children, which have not known any thing, may hear, and learn to
    fear the LORD your God, as long as ye live in the land whither ye go over
    Jordan to possess it.<br/>
    &mdash;{% include verse.html verse = "Deuteronomy 31:12-13" %}
  </p>
  <div class="row justify-content-between" style="color: #ccc">
    <div class="col text-left">
      &copy;{{ 'now' | date: "%Y" }} {{ site.organization }}
    </div>
    <div class="col text-right">
      <a href="https://github.com/matthew-a-thomas/mmm" style="color: inherit">
        <img style="background-color: currentcolor; border-radius: 999px; padding: 1px;" src="/assets/img/GitHub-Mark-Light-32px.png">
      </a>
    </div>
  </div>
</footer>