<!-- Nav for large screens -->
<div class="d-none d-lg-block">
  <div class="row">
    <div class="col">
      <ul class="nav nav-tabs">
        {% for pg in site.pages %}
        <li class="nav-item">
          <a class="nav-link{% if page.url == pg.url %} active{% endif %}" href="{{ pg.url }}">
            {{ pg.title }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<!-- Nav for smaller screens -->
<div class="d-lg-none">
  <div class="row">
    <div class="col">
      <h2>{{ page.title }}</h2>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="dropdown">
        <a class="btn btn-outline-primary" href="{{ page.url }}" role="button" id="navDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="material-icons align-bottom">menu</i>
        </a>
      
        <div class="dropdown-menu" aria-labelledby="navDropdownMenuLink">
          {% for pg in site.pages %}
          <a class="dropdown-item{% if page.url == pg.url %} active{% endif %}" href="{{ pg.url }}">
            {{ pg.title }}
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>