$primary: #800080;
$font-family-base: 'Merriweather', serif;
$font-weight-normal: 300;
$headings-font-family: 'Raleway', sans-serif;
$headings-font-weight: 700;
@import "../../_sass/bootstrap/bootstrap";
b {
  font-weight: 700;
}
.carousel {
  background-color: black;
  padding-bottom: 35px;
  .carousel-indicators {
    background-color: rgba($color: black, $alpha: 0.7);
    bottom: 0;
    margin: 0;
    padding: 1em;
  }
}
h1, h2, h3, h4, h5, h6 {
  text-align: left;
}
.home-background-image {
  background-position: right;
  background-size: cover;
  height: 100vh;
  margin-bottom: -7em;
}
html {
  min-height: 100%;
  position: relative;
}
.nav {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  a:hover:not(.active) {
    border-style: solid;
    border-width: $btn-border-width;
    border-color: $primary;
    color: $primary;
    margin: -$btn-border-width;
  }
}