$primary: #800080;
$font-family-base: 'Merriweather', serif;
$font-weight-normal: 300;
$headings-font-family: 'Raleway', sans-serif;
$headings-font-weight: 700;
@import "../../_sass/bootstrap/bootstrap";
b {
  font-weight: 700;
}
h1, h2, h3, h4, h5, h6 {
  text-align: left;
}
.home-header {
  background-position: right;
  background-size: cover;
  height: 100vh;

  > * {
    background-color: white;
    background-color: rgba($color: white, $alpha: 0.7);
    border: unset;
    border-radius: unset!important;
    margin: 0;
    width: 100%;
  }
}
html {
  min-height: 100%;
  position: relative;
}
.nav {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  a:hover:not(.active) {
    border-style: solid;
    border-width: $btn-border-width;
    border-color: $primary;
    color: $primary;
    margin: -$btn-border-width;
  }
}